.product-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 60px auto;
  margin-top: 10px;
  max-width: 40%;
  position: relative;
}

.edit-button {
  font-size: 0.95em;
  font-weight: bolder;
  margin-top: 15px;
  padding: 2px 6px;
  float: left;
  position: absolute;
  bottom: 5px;
  max-width: 120px;
}

.edit-button:hover {
  background-color: #ff6600;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
  .product-details {
    max-width: 70%;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .product-details {
    max-width: 100%;
  }
}
