.home {
  width: 100%;
  min-width: 160px;
}

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product-card {
  word-wrap: break-word;
  min-width: 100px;
  max-width: 250px;
  max-height: 400px;
  padding: 7px;
  margin: 20px 2px;
  overflow: hidden;
}

.product-card:hover {
  box-shadow: 0 -1px 5px 0 #00f000;
}

.labels {
  color: #00f000;
  font-weight: 700;
}
